        body {
            background-color: white;
            color: black;
            box-sizing:border-box;
        }
        #content{
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            width: 50vw;
            flex-direction: column;
            margin: 0;
            left: 25vw;
            top: 0%;
            padding: 0px; 
            margin-bottom: 0px;
            
        }
        #header{
        
            display: flex;
            flex-direction: row;
            width: 100%;
            border-bottom: solid black 0.1px;
            min-width: 550px;
        }
        #inputs {    
            min-width: 550px;
            margin-top: 30px;
            text-align: center;
        
            
        }
        a {
            text-decoration: none;
        }
                
        img{
            width: 30px;
        }



        .key:hover{
            opacity: 0.7;
        }
        #title {
            width: 100%;
            display: flex;
            background-color: red;
            background-image: linear-gradient(68.4deg, rgb(248, 182, 204) 0.5%, rgb(192, 198, 230) 49%, rgb(225, 246, 240) 99.8%);
            background-size: 100%;
            background-repeat: repeat;
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            background-color: white;
        
        
                }
        
        #keyboard {
            margin-top: 10px;
            min-width: 70%;
            
            
            
            
        }
        
        .key{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #e7ebf1;
            cursor: pointer;
            width: 40px;
            border: none;
            border-radius: 4px;
            margin: 3px;
            min-height: 40px;
            color: black;
            font-size: 1.5rem;

                
        }

        
        .key1:hover {
            opacity: 0.7;
        }
        .key2 {
            width: 45.5px;
        
        }
        .key3{
            width: 39.6px;
        }
        
        
        .key:hover,.key2:hover,.key3:hover {
            cursor: pointer;
            background-image: linear-gradient(68.4deg, rgb(248, 182, 204) 0.5%, rgb(192, 198, 230) 49%, rgb(225, 246, 240) 99.8%);
            -webkit-background-clip: text;           
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            
        }
        
        #enter{
            width: 68px;
        }
        #backspace{
            width: 65px;
        }
        #bsc{
            margin-top: 5px;
            width: 20px;
        }
        .head{
            width: 30px;
            border-radius: 4px;
            border: none;
            height: 30px;
            margin-top: 30px;
            align-items: center;
            text-align: center;
            margin-left: 10px;
            background-color: #e7ebf1;
        }
        .head:hover{
            cursor: pointer;
            background-color: white;
            background-image: linear-gradient(68.4deg, rgb(248, 182, 204) 0.5%, rgb(192, 198, 230) 49%, rgb(225, 246, 240) 99.8%);
            -webkit-background-clip: text;       
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        #setting-pane{
    
            position: absolute;
            z-index: 9;
        }

        .l-count{
            width: 40px;
            height: 40px;
            border-radius: 7px;
            font-size: 1rem;
            border: none;
            background-color: #e7ebf1;
        }
        .l-count:hover {
            cursor: pointer;
            
            background-image: linear-gradient(68.4deg, rgb(248, 182, 204) 0.5%, rgb(192, 198, 230) 49%, rgb(225, 246, 240) 99.8%);
            -webkit-background-clip: text;           
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

    #give-up,#next,#giveup,#trya{
        border: none;
        border-radius: 5px;

    }
    #give-up:hover,#giveup:hover{
        cursor: pointer;
        background-color: red;
        
    }
        
    #next:hover,#trya:hover {
        cursor: pointer;
        background-color: green;
        }

#win_lose {
    width: 400px;
    height: 500px;
    display: flex;
    position: absolute;
    
    top: 100px;
    right: calc(50% - 200px);
    flex-direction: column;
}

#upper {
    flex-basis: 25%;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
    background-color: #e7ebf1;
}

#lower {
    flex-basis: 75%;
    border-right: 1px solid #e7ebf1;
    border-bottom: 1px solid #e7ebf1;
    border-left: 1px solid #e7ebf1;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    background-color: white;

}

#innerupper {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
}

#wins_r,
#games_played {
    padding: 10px;
    flex-basis: 50%;
    border-bottom: solid white 1px;
}

#wins_r {
    border-left: solid white 1px;
}

#innerlower {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;

}

#currstreak,
#beststreak {
    padding: 10px;
    flex-basis: 50%;
    border-bottom: solid white 1px;
}

#beststreak {
    border-left: solid white 1px;
}
#middle{
    margin-top: 50px;
    margin-left: 3px;
    margin-bottom: 10px;
}
#time{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}
#mini{
    margin-right: 10px;
    margin-left: 10px;
    border-left: 1px solid black;
    padding-left:10px;
    padding-right: 3px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: inline;
}

